:root {
    --font-family: 'Source Code Pro';
}

html {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    font-family: var(--font-family);
}

.cm-s-monokai.CodeMirror {
    font-family: var(--font-family);
}

.playground-area {
    height: 100vh;
}

.console-area {
    background: #272822;
    color: #f8f8f2;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.console-instructions {
    font-size: .8rem;
    padding: .5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    h2 {
        text-transform: uppercase;
        font-size: .8rem;
        margin-top: 0;
    }
    code {
        color: #a6e22e;
    }

    sup {
        color: #f92672;
    }

    ul {
        list-style: none;
        li::before {
            content: "\2014"; // em dash
            margin-right: .5em;
        }
    }

}

.console-output {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}
.console-line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
    padding: .5rem .5rem;

    p {
        margin: 0;
        span {
            color: rgba(0, 0, 0, 1);
        }
    }

    &:nth-child(odd) {
        background-color: #272822;

        p span {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}