html {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.playground-area {
    height: 100vh;
}
.editor-area {}
.console-area {
    border: 1px solid #f1f1f1;
    overflow-x: hidden;
    overflow-y: auto;
}